{%extends 'base.html' %}
{% block head %}
{%endblock%}
{% block body %}<div class = "header1">
  <h2 class="header"> Wybrana drukarka : {{printer}} </h2>
</div>
  <div class = "button" >
    <form  method = "post">
      <input type="submit" class ="submit" value="Capture" name="click"/>
    </form>
    <div class = "button1" >
      <form action = "/" method = "get">
        <input type = "submit" class ="submit" value = "Wróć">
      </form>
    </div>
  </div>
<div class="container">
    <div class="screen">
		
        <img src="{{ url_for('video_feed') }}" height="100%">
            
    </div>
    <div class="buttony">
      <form method="post" action="{{url_for('tasks') }}">
        <input type="submit" class ="submit" value="Stop/Start" name="stop" />
        <input type="submit" class ="submit" value="res" name="res" />
        <input type="submit" class ="submit" value="res1" name="res1" />
        <input type="submit" class ="submit" value="red" name="red" />
        <input type="submit" class ="submit" value="black" name="black" />
        <!-- <input type = "submit" class ="submit" value = "Wróć" name ='back'> -->
        </form>
    </div>
</div>



{% endblock %}