{%extends 'base.html' %}
{% block head %}
{%endblock%}
{% block body %}
  <h1 class = "header"> Produkty </h1>
  
  <div class = "taskbar">
    <form action = "#" method = "post">
  
    </form>
    </div>
    <div class ="Instrukcja">
      <ol>
        <li>Wybierz drukarke z której drukowana była etykieta.</li>
        <li>Wciśnij przycisk "Potwierdź". </li>
        <li> W razie pomyłki użyj przycisku "Wróć".</li>
        <li>Przybliż obiektyw i wykonaj zdjęcie tak, by na ekranie był tylko sprawdzany tekst.</li>
      </ol>
    </div>
{% endblock %}