{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='product.css') }}">
{% block head %}
{% endblock %}
{% block body %}
    <div class="ind">
        <form method="post" action="/products">
            <input type="submit" class="submit" value={{ product_type }} name="product_type"/>
            <input type="submit" class="submit" value="Wszystkie" name="product_type"/>
        </form>
    </div>

    <div class="left-column">
        <br></br>
        <tr>
            <p class="text-secondary"> Name: {{ product.name }} Price: {{ product.price }}
                Quantity: {{ product.quantity }}ID: {{ product.id }} </p>
        </tr>
    </div>


    <div id="wrapper">
        <div id="div1">
            <img class="product_img" src="{{ url_for('static', filename=product.photo) }}"/></div>
        <div id="div2" class="product-description">
            <p>{{ product_type }}</p>
            <h1> {{ product.name }} </h1>
            <h2> {{ product.price }} zł </h2>
            <p></p>
            <p> {{ product.description }} </p>
        </div>
    </div>
    <button onclick="history.back()">Powrót</button>
{% endblock %}